* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color:brown;
}

@mixin misFlex($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@import 'header';
@import 'footer';
@import 'bodyIndex';
@import 'bodyPortadas';
@import 'bodyVideolyrics';
@import 'bodyEdicion';
@import 'bodyContacto';